<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="reportGeneration.Listeners">
		</listener>
	</listeners>
	<test thread-count="5" name="Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<!--  <class name="testscripts.AdminTest">
      	<methods>
      	 <include name="adminAddNewUser"> </include>
		<exclude name="adminResetUsers"></exclude>
      	
</methods>
      </class>-->
			<class name="testscripts.LoginTest">
				<methods>
					<include name="verifyAdminLoginWithInvalidcreds"></include>
				</methods>
			</class>
			<!--<class name="testscripts.HomeTest"/>
      <class name="testscripts.AdminTest"/>
      <class name="testscripts.ManageNewsTest"/>
      -->
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
